@using Restaurants.Models
@using System
@using System.Collections.Generic

@{
  Layout = "_Layout";
}

@model Restaurants.Models.Cuisine

<h2>View cuisine details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3> 


<ul>
  @foreach(Restaurant restaurant in @ViewBag.AssociatedRestaurants)
  {
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId})</li>
  }
</ul>

<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to all cuisines", "Index")</p>


